<html>
    <head>
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename = 'styles.css') }}">
        <link rel="shortcut icon" href="#" />
    </head>

    <body>
        <!--scale is 1 times the field size in inches (324*1, 648*1)-->
        <canvas id="fieldcanvas" width=324 height=648 style="border:1px solid #c3c3c3;"> Oof </canvas> 
        <script type = "text/javascript" src = "{{ url_for('static', filename = 'jquery.js') }}"></script> 
        <script type = "text/javascript" src = "{{ url_for('static', filename = 'fieldview.js') }}"></script> 
    </body>
</html>